api_erp/node_modules
api_erp/public/build
api_erp/public/hot
api_erp/public/storage
api_erp/storage/*.key
api_erp/vendor
api_erp.env
api_erp.env.backup
api_erp.env.production
api_erp.phpunit.result.cache
api_erpHomestead.json
api_erpHomestead.yaml
api_erpauth.json
api_erpnpm-debug.log
api_erpyarn-error.log
api_erp/.fleet
api_erp/.idea
api_erp/.vscode
bootstrap
storage
vendor
.vscode