.title-add-family {
    font-size: 30px;
    font-weight: 600;
    opacity: 0.5;
  }

  .data-family {
    margin-bottom: 30px;
  }

  .delete-family-button {
      justify-content: end;
      display: flex;
  }